# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codx]

# C extensions
*.so

# Ignore generated C files (Cython)
*.c

# iPython notebooks and checkpoints
*.ipynb
.ipynb_checkpoints

# patch files
*.orig

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml

# Pytest
pytest.ini

# Translations
*.mo

# macOS
.DS_Store

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
doc/_build/
doc/user/ubu/_build/

# Local VIM RC
.lvimrc

# Swap files
.*.swp

# nvim
*.un~
*~

# setup compile left-overs
*.py_orig

# Nuitka build
nuitka/
nuitka_standalone/

# Tags
TAGS
tags

# kdevelop
*.kdev4

# pycharm
.idea*

# VSCode
.vscode*

# pyenv
.python-version

.ci/.rootdir

# Coverage data files
.coverage.*

runpytest.sh

# vscode
.vscode
.pytest_cache
